version: '3.8'

services:
  mongodb:
    image: mongo:6
    container_name: fintech-mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: fintech-auth
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: